.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(5, 75px); 
  gap: 5px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.game-cell {
  width: 75px; 
  height: 75px; 
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game-cell.active {
  background: linear-gradient(90deg, #43e97b 0%, #38f9d7 100%);
}

.game-cell.computer {
  background: linear-gradient(90deg, rgb(255, 213, 0) 0%, #FFF564 100%);
}

.game-info {
  display: flex;
  justify-content: space-between;
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(90deg, #43e97b 0%, #38f9d7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-message {
  font-size: 18px;
  margin-top: 5px;
  background: linear-gradient(90deg, #43e97b 0%, rgb(4, 240, 4) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/Menu.png') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.dialog {
  display: flex;
  flex-direction: column; 
  align-items: center;
  border-radius: 10px;
  color: #7df0c0;
  text-align: center;
  font-size: 25px;
  margin: 100px 20px 0px 20px; 
}
.dialog button {
  margin: 15px 0;

  font-size: 18px;
  padding: 12px 20px;
  background: linear-gradient(90deg, #43e97b 0%, #38f9d7 100%);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.dialog button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dialog button:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dialog button:focus {
  outline: none;
}

.dialog button:disabled {
  background-color: #ddd;
  color: #999;
  cursor: not-allowed;
}

.dialog h2 {
  color: #FFF564;
  margin-bottom: 15px;
}

.dialog-container .dialog h1 {
  margin: 40px 0;
  background: linear-gradient(90deg, #43e97b 0%, #38f9d7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-size: 40px;
}



.game-container .header-container {
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(60, 55, 55, 0.1);
  width: 300px; 
  text-align: center;
  color: #ece14f;
}

.footer-container {
  background-color: white;
  padding: 7px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 205px; 
  text-align: center;
  color: #58c899;
}
.header-container h1 {
  background: linear-gradient(90deg, #43e97b 0%, #38f9d7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.start-button {
  padding: 7px 15px;
  font-size: 16px;
  background-color: #7df0c0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px; 
}

.start-button:hover {
  background-color: #56c396;
  color: white;
}