.start-window {
  display: none; 
}
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  background: url('../images/Game.png') no-repeat center center;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.scoreboard {
  margin: 30px 0 0 0;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  font-size: 18px;
  color: #95FFD3; 
  background-color: white; 
  padding: 10px; 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.scoreboard div {
  margin: 5px 0;
  color: #76efbd; 
}

.time-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
  position: relative;
}

.time-bar-fill {
  height: 100%;
  background-color: #FFF564; 
  transition: width 0.5s linear;
}

.game-board-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  gap: 15px;
  justify-content: center;
}

.card {
  width: 120px;
  height: 120px;
  background-color: #ccc;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: transform 0.2s ease, background 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF564;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 32px;
  font-weight: bold;
  border-radius: 10px;
}

.card.flipped {
  background-color: transparent;
  transform: scale(1.1);
  border: 2px solid #FFF564;
}

.game-over {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../images/Menu.png') no-repeat center center;
  background-size: cover;
  color: #95FFD3;
  z-index: 1000;
}

.game-over h1 {
  font-size: 36px;
  color: #FFF564;
  padding: 80px 0 30px 0;
}

.game-over p {
  font-size: 18px;
  margin: 10px 0;
  color: #FFF564;
}

.game-over button {
  padding: 10px 20px;
  font-size: 20px;
  color: white;
  background-color: #95FFD3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin: 5px;
}


.game-over button:hover {
  background-color: #D9D9D9;
}